container_commands:
  rm-default-log-configs:
    command: "rm -v eb-activity.conf eb-version-deployment.conf httpd.conf tomcat8.conf || true"
    cwd: /opt/elasticbeanstalk/tasks/taillogs.d

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/snakes.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/lib/tomcat8/webapps/ROOT/log/snakes.log
      /var/log/tomcat8/catalina.out
      /var/log/eb-commandprocessor.log
