option_settings:
  # Configure secure listener to forward requests to HTTPS:443
  - namespace:  aws:elb:listener:443
    option_name:  InstancePort
    value:  443
  - namespace:  aws:elb:listener:443
    option_name:  InstanceProtocol
    value:  HTTPS
  # Use HTTPS for ELB Health Checks
  - namespace:  aws:elasticbeanstalk:application
    option_name:  Application Healthcheck URL
    value:  HTTPS:443/

Resources:
  # Add 443 out to load balancer security group
  httpsFromLoadBalancerSG: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      SourceSecurityGroupId: {"Fn::GetAtt" : ["loadbalancersg", "GroupId"]}
  # Add 443 in to instance security group
  httpsToBackendInstances: 
    Type: AWS::EC2::SecurityGroupEgress
    Properties:
      GroupId: {"Fn::GetAtt" : ["loadbalancersg", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      DestinationSecurityGroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
  # Add instance's public certificate to load balancer using policies
  AWSEBLoadBalancer:
    Type: AWS::ElasticLoadBalancing::LoadBalancer
    Properties: 
      Policies: 
        - PolicyName : BackendEncryption
          PolicyType : BackendServerAuthenticationPolicyType
          Attributes :
            - Name : PublicKeyPolicyName
              Value : BackendKey
          InstancePorts : 
            - 443
        - PolicyName : BackendKey
          PolicyType : PublicKeyPolicyType
          Attributes : 
            - Name : PublicKey
              Value : |
                ################################################################
                ################################################################
                ################################################################
                ################################################################
                ################################################################
                ################################################################
                ################################################################
                ################################################################
                ################################################################
                ################################################################
                ################################################################
                ################################################################
                ################################################################
                ################################################################
                ################################################################
                ################################################################
                ################################################################
                ################################################################
                ################################################################
                ################################################################
                ################################################
