files:
  # Apache redirect configuration
  /etc/httpd/conf.d/elasticbeanstalk.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      <VirtualHost *:80>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>

        ServerName www.###############.com
        Redirect permanent / https://www.################.com

        ErrorLog /var/log/httpd/elasticbeanstalk-error_log

      </VirtualHost>
