option_settings:
  # ARN of HTTPS certificate stored in ACM or IAM
  - namespace:  aws:elb:loadbalancer
    option_name:  SSLCertificateId
    value:  arn:aws:acm:us-east-1:#############:certificate/####################################
  # Allow ingress on HTTPS:443 on load balancer security group
  - namespace:  aws:elb:loadbalancer
    option_name:  LoadBalancerHTTPSPort
    value:  443
  - namespace:  aws:elb:listener:443
    option_name:  ListenerProtocol
    value:  HTTPS
  # Use the custom security group for the load balancer
  - namespace:  aws:elb:loadbalancer
    option_name:  SecurityGroups
    value:  '`{ "Ref" : "loadbalancersg" }`'
  - namespace:  aws:elb:loadbalancer
    option_name:  ManagedSecurityGroup
    value:  '`{ "Ref" : "loadbalancersg" }`'

Resources:
  # Create a custom load balancer security group for ease of modification
  loadbalancersg:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: load balancer security group
      VpcId: vpc-########
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0